* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

body {
  line-height: 1.6;
  color: #333;
  background-color: rgb(255, 255, 255);
}

.inicio-container {
  background-image: url('cadira2.png');
  width: 100%;
  min-height: calc(100vh - 80px);
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  padding: 1.25rem;
}

/* Estilos para el header */
header {
  background-color: white;
  padding: 0.313rem;
  border-radius: 0.625rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.527);
  position: fixed;
  top: 1.25rem;
  left: 5rem;
  right: 5rem;
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
  z-index: 1;
  font-weight: 600;
}

.logo {
  max-width: 6.25rem;
  height: auto;
  margin-right: 1.25rem;
  margin-left: 1.25rem;
  margin-top: 0.938rem;
  margin-bottom: 0.938rem;
}

nav {
  flex-grow: 1;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: inline-flex;
}

nav ul li {
  margin: clamp(0.3rem, 1.25rem, 1.5rem);
}

nav ul li a {
  color: #333;
  text-decoration: none;
}

nav ul li a:hover {
  color: #151515;
  text-decoration: none;
}


main {
  padding: 1.25rem;
  z-index: 1;
}

#hero {
  background-size: cover;
  background-position: center;
  padding: 0.625rem;
  text-align: left;
  margin-left: 3.125rem;
  text-align: left;
  margin-top: 5rem;
}

#hero h2 {
  font-size: 3.875rem;
  line-height: 1.2;
  margin-bottom: 2.5rem;
  color: black;
  max-width: 50rem;
}

#hero p {
  font-size: 1.125rem;
  color: #5C5C5C;
  margin-top: 0.625rem;
  margin-bottom: 2.5rem;
  max-width: 40rem;
}

.contact-container {
  display: flex;
  align-items: center;
  margin-top: 1.875rem;
}

.CTA {
  background-color: #B11CAB;
  color: white;
  border: none;
  border-radius: 0.625rem;
  padding: 1.25rem 2.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.CTA:hover {
  background-color: #9E0A9B;
}

.phone-box {
  background-color: #F2712345;
  width: 3.875rem;
  height: 3.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.625rem;
  margin-left: 1.75rem;
  margin-right: 1.25rem;
}

.phone-icon {
  width: 1.875rem;
  height: auto;
}

.phone-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.phone-label {
  color: #B11CAB;
  font-size: 1rem;
  font-weight: bold;
}

.phone-number {
  color: black;
  font-size: 1rem;
}

.profile-card {
  background-color: #ffffff;
  border-radius: 0.625rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.233);
  padding: 1.25rem;
  display: flex;
  align-items: flex-start;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  max-width: 27.5rem;
  margin-left: 3.75rem;
  flex-direction: row;
  justify-content: center;
}

.profile-image {
  width: 2.563rem;
  height: 2.563rem;
  border-radius: 50%;
  margin-right: 0.938rem;
}

.profile-info {
  flex-grow: 1;
}

.profile-name {
  margin: 0;
  font-size: 0.9rem;
}

.profile-job {
  margin: 0;
  color: #B11CAB;
  font-size: 0.7rem;
}

.linkedin-icon {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.linkedin-img {
  width: 1.5rem;
  height: 1.5rem;
}

.profile-description {
  margin-top: 1.25rem;
  font-size: 0.8rem;
  color: #555;
  margin-left: -3.125rem;
}

#especialitats {
  padding: 5rem;
  text-align: center;
  margin-left: 6.25rem;
  margin-right: 6.25rem;
  max-width: 70%;
  margin: 0 auto;
  margin-bottom: -3.125rem;
}

.especialitats-box,
.ortopedia-box,
.mutues-box,
.contacte-box {
  padding: 5px;
  padding-left: 1.563rem;
  padding-right: 1.563rem;
  width: 10.063rem;
  max-width: 18.75rem;
  height: 1.875rem;
  background-color: rgba(177, 28, 203, 0.14);
  color: #B11CAB;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.25rem auto;
  border-radius: 1.25rem;
  text-align: center;
  margin-bottom: 3.125rem;
}

.ortopedia-box h2,
.mutues-box h2,
.contacte-box h2,
.especialitats-box h2 {
  color: #B11CAB;
  margin: 0;
  font-weight: 100;
  font-size: 0.75rem;
}

/* Contenedor de las 3 cards */
.especialitats-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.especialitats-container h3 {
  margin-bottom: 1rem;
}

.arrow {
  border: none;
  color: #9e0a9ce1;
  font-size: 4rem;
  position: absolute;
  transform: translateY(80%);

  transition: transform 0.3s ease;
  cursor: pointer
}

.arrow:hover {
  color: #8f088d;
}

.arrow.left {
  left: 5vw;
}

.arrow.right {
  right: 5vw;
}

/* Estilo de las cards individuales */
.card {
  background-color: white;
  padding: 1rem;
  width: 30%;
  border-radius: 0.625rem;
  border: 2px solid #B11CAB;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  text-align: center;
  color: #333;
  position: relative;
  padding-top: 1.875rem;

  min-width: calc(33.33% - 20px);
  display: none;
}

.card.active {
  background-color: #B11CAB;
  color: white;
  margin-bottom: -1.563rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

.card:hover {
  transform: translateY(-5px);
}

.card.active:hover {
  transform: none;
  cursor: default;
}

.card.visible {
  display: block;
}

.circle {
  width: 10vw;
  height: 10vw;
  max-width: 3.75rem;
  max-height: 3.75rem;
  border-radius: 50%;
  background-color: orange;
  margin: 0 auto;
  margin-bottom: 0.75rem;
  display: block;
  position: relative;
}

.card.active .circle {
  background-color: white;
}

/* Descripción de las especialitats (escondidas por default) */
.description-card {
  width: 100%;
  padding: 1.5rem;
  background-color: white;
  border-radius: 0.625rem;
  border: 2px solid #B11CAB;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #333;
  text-align: left;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  overflow: hidden;
}

.description {
  display: none;
}

.description.active {
  display: flex;
  flex-direction: row;
}

.description-text {
  margin: 1.875rem;
  margin-top: 2.5rem;
  flex: 1;
}

.description-text h4 {
  font-size: 2.625rem;
  max-width: 15rem;
}

.description-text p {
  margin-bottom: 1.875rem;
}

.description-image {
  border-radius: 1.25rem;
  margin: 1.875rem;
  margin-left: 6.25rem;
  max-width: 25rem;
  height: auto;
  object-fit: cover;
  flex: 1;
}

.description-card img {
  max-width: 40%;
  height: auto;
  filter: brightness(0.85);
}

.description-card.middle {
  border-radius: 10px;
}

.description-card.right {
  border-top-right-radius: 0;
}

.description-card.left {
  border-top-left-radius: 0;
}

/* Estilo para el efecto de sacudida */
@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s ease;
}

#ortopedia {
  padding: 2.5rem 1.25rem;
  background-color: #f9f9f9;
  margin: 0 auto;
  max-width: 70%;
  position: relative;
  margin-bottom: 5rem;
}

.ortopedia-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 95%;
  margin: 0 auto;
  gap: 1.25rem;
  transform: translate(2%);
  margin-top: 6.25rem;
}

.text-container {
  max-width: 50%;
}

.text-container h2 {
  font-size: 2rem;
  margin-bottom: 1.25rem;
  color: #333;
}

.text-container .description {
  font-size: 1rem;
  line-height: 1.6;
  color: #666;
}

.image-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-top: 0.625rem;
}


.ortopedia-image {
  max-width: 80%;
  height: auto;
  border-radius: 0.5rem;
  z-index: 1;
  margin-left: 1.875rem;
  margin-bottom: -1.25rem;
  box-shadow: 1.5rem -1.5rem #b11cacba;
  filter: brightness(0.85);
}

#mutues {
  padding: 2rem;
  background-color: #f0f0f5;
  border-radius: 0.625rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.mutues-content .description {
  font-size: 1.2rem;
  color: #333;
  line-height: 1.6;
}

footer {
  background-color: #B11CAB;
  color: white;
  padding-left: 2rem;
  padding-top: 3rem;
  padding-right: 2rem;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: #B11CAB;
  font-size: 0.9rem;
}

.footer-section {
  flex: 1;
  margin: 0 1rem;
  text-align: left;
  flex-grow: 1;
}

.footer-section h3 {
  margin-bottom: 1rem;
}

.footer-section p {
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 0.5rem 0;
}

.footer-section a {
  color: white;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

#footer-service {
  margin: 0.5rem 0;
  max-width: 25%;
}

#footer-links {
  margin-left: 20%;
}

.map-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.map {
  border-radius: 0.625rem;
  margin-bottom: 0.8rem;
}

.footer-copy {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 1.5rem;
  text-align: center;
  padding: 1rem 0;
  color: white;
  background-color: #B11CAB;
  border-top: 0.5px solid white;
}

/* Responsividad */
@media (max-width: 1600px) {
  .card {
    font-size: 0.9rem;
  }

  .description-card {
    font-size: 0.9rem;
  }

  #especialitats {
    max-width: 75%;
  }
}

@media (max-width: 1450px) {
  .card {
    font-size: 0.9rem;
  }

  .description-card {
    font-size: 0.9rem;
  }

  #especialitats {
    max-width: 90%;
  }

  #ortopedia {
    max-width: 90%;
  }
}

@media (max-width: 1024px) {

  header {
    font-size: 0.9rem;
    margin-left: 4.375rem;
    margin-right: 3.438rem;
  }

  nav ul li {
    margin: 0.8rem;
  }

  #hero {
    width: 90%;
  }

  #hero h2 {
    font-size: 3rem;
    max-width: 40rem;
  }

  #hero p {
    font-size: 0.9rem;
    max-width: 30rem;
  }

  .CTA {
    font-size: 0.9rem;
  }

  .phone-icon {
    width: 1.563rem;
  }

  .phone-box {
    width: 3.75rem;
    height: 3.75rem;
  }

  .phone-label {
    font-size: 0.9rem;
  }

  .phone-number {
    font-size: 0.9rem;
  }

  .profile-card {
    max-width: 25rem;
  }

  #especialitats {
    max-width: 90%;
  }

  .card {
    font-size: 0.8rem;
  }

  .description-card {
    font-size: 0.8rem;
  }

  .description-text h4 {
    font-size: 1.5rem;
  }

  .description-card img {
    max-width: 30%;
  }

  .description-image {
    margin-left: 1.25rem;
  }

  .text-container h2 {
    font-size: 1.5rem;
  }

  .text-container .description {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 1.25rem;
    margin: 0.625rem;
  }

  .logo {
    margin: 0.625rem;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  #hero h2 {
    font-size: 2rem;
    max-width: 100%;
  }

  #hero p,
  .phone-number {
    font-size: 1rem;
  }

  .CTA {
    padding: 0.625rem 1.25rem;
  }

  .profile-card {
    width: 100%;
  }

  #especialitats {
    max-width: 100%;
  }

  .card {
    font-size: 0.75rem;
    width: 32%;
  }

  .ortopedia-content {
    flex-direction: column;
    text-align: center;
  }

  .text-container,
  .ortopedia-image {
    max-width: 100%;
  }

  .ortopedia-image {
    margin-left: -2.5rem;
    margin-top: 1.25rem;
  }

}

@media (max-width: 480px) {
  .phone-box {
    width: 3.125rem;
    height: 3.125rem;
  }

  .CTA {
    padding: 0.625rem;
    font-size: 0.875rem;
  }

  .card {
    padding: 0.625rem;
  }
}