/* Reseteo básico de márgenes y paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;/* Tipografía */
}

/* Estilos para el body */
body {
  line-height: 1.6;/* Espaciado entre líneas */
  color: #333; /* Color del texto */
  background-color: rgb(255, 255, 255);
}
.inicio-container {
  background-image: url('cadira2.png'); /* Ruta de la imagen de fondo */
  width: 100%; /* Ocupa todo el ancho de la página */
  min-height: calc(100vh - 80px); /* Ocupa al menos toda la altura de la ventana menos la altura del header */
  background-size: cover; /* Hace que la imagen cubra todo el contenedor */
  background-position: top center; /* Asegura que la imagen comience desde la parte superior */
  background-attachment: fixed; /* Fija la imagen de fondo */
  padding: 20px; /* Espacio alrededor del contenido */
}

/* Estilos para el header */
header {
  background-color: white;
  padding: 5px;/* Espaciado interno */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.527);
  position: relative;
  margin: 20px;
  margin-bottom: 40px;
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  align-items: center;
  z-index: 1; 
  font-weight: 600;
}

/* Estilo para el logo */
.logo {
  max-width: 100px;/* Ajustar el tamaño máximo del logo (más pequeño) */
  height: auto; /* Mantener la proporción de la imagen */
  margin-right: 20px; /* Espacio a la derecha del logo */
  margin-left: 20px; 
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Estilos para el nav */
nav {
  flex-grow: 1;
  /* Permite que el nav ocupe el espacio restante */
  text-align: center;
  /* Centrar el contenido dentro del nav */
}

nav ul {
  list-style: none; /* Sin viñetas */
  padding: 0; /* Sin padding */
  display: inline-flex;/* Elementos en línea */
}

nav ul li {
  margin: 0 15px; /* Espaciado entre enlaces */
}

nav ul li a {
  color: #333; /* Color de los enlaces */
  text-decoration: none; /* Sin subrayado */
}

/* Estilos para el main */
main {
  padding: 20px;/* Espaciado interno */
  z-index: 1; /* Asegura que el header esté por encima del fondo */
}

/* Estilos para el hero */
#hero {
  background-size: cover; /* Cubrir toda el área */
  background-position: center; /* Centrar la imagen */
  padding: 10px; /* Espaciado interno */
  text-align: left;/* Alinear texto a la izquierda */
  margin-left: 50px;
  text-align: left;
}

#hero h2 {
  font-size: 3.875rem;
  /* Tamaño de fuente más grande */
  line-height: 1.2;
  /* Espacio entre líneas */
  margin-bottom: 40px;
  /* Espaciado vertical */
  color: black;
  /* Color del texto en negro */
}

#hero p {
  font-size: 1.125 rem;
  color: #5C5C5C;
  margin-top: 10px;
  margin-bottom: 40px;
}

.contact-container {
  display: flex;
  align-items: center; 
  margin-top: 30px; 
}

.CTA {
  background-color: #B11CAB; /* Color de fondo */
  color: white; /* Color del texto en blanco */
  border: none; /* Sin borde */
  border-radius: 10px; /* Bordes redondeados */
  padding:  20px 40px; /* Espaciado interno */
  font-size: 1rem; /* Tamaño de fuente */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  transition: background-color 0.3s; /* Transición suave para el fondo */
}

/* Efecto al pasar el mouse */
.CTA:hover {
  background-color: #9E0A9B; /* Color de fondo más oscuro al pasar el mouse */
}

/* Estilos para el cuadro del teléfono */
.phone-box {
  background-color: #f2722352; /* Color de fondo naranja */
  width: 62px; /* Ancho del cuadro */
  height: 62px; /* Alto del cuadro */
  display: flex; /* Disposición en fila */
  flex-direction: column; /* Colocar elementos en columna */
  align-items: center; /* Centrar horizontalmente */
  justify-content: center; /* Centrar verticalmente */
  border-radius: 10px; /* Bordes redondeados */
  margin-left: 28px;
  margin-right: 20px;
}

/* Estilos para el ícono del teléfono */
.phone-icon {
  width: 30px; /* Ancho del ícono */
  height: auto; /* Alto del ícono */
}
/* Contenedor para la información del teléfono */
.phone-info {
  display: flex; /* Usar flexbox para disposición vertical */
  flex-direction: column; /* Colocar elementos en columna */
  align-items: flex-start; /* Alinear a la izquierda */
}
/* Estilos para el texto del teléfono */
.phone-label {
  color: #B11CAB; /* Color del texto */
  font-size: 1rem; /* Tamaño de fuente del texto */
  font-weight: bold;
}
.phone-number {
  color: black; /* Color del texto */
  font-size: 1rem; /* Tamaño de fuente del texto */
}

/* LinkedIn card */
.profile-card {
  background-color: #ffffff; /* Fondo blanco */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.233);
  padding: 20px; /* Espaciado interno */
  display: flex; /* Usar flexbox para alinear elementos */
  align-items: flex-start; /* Alinear al principio (arriba) */
  margin-top: 40px; /* Margen superior para separación */
  margin-bottom: 40px; /* Margen superior para separación */
  max-width: 440px; /* Limitar el ancho de la card */
  margin-left: 60px; /* Alinear con el CTA */
  flex-direction: row; /* Colocar elementos en columna */
  justify-content: center; /* Centrar verticalmente */
}

.profile-image {
  width: 41px; /* Ancho de la imagen */
  height: 41px; /* Alto de la imagen */
  border-radius: 50%; /* Imagen circular */
  margin-right: 15px; /* Espacio a la derecha de la imagen */
}

.profile-info {
  flex-grow: 1; /* Permitir que ocupe el espacio restante */
}

.profile-name {
  margin: 0; /* Sin margen */
  font-size: 0.9rem; /* Tamaño de fuente del nombre */
}

.profile-job {
  margin: 0; /* Sin margen */
  color: #B11CAB;
  font-size: 0.7rem; 
}

.linkedin-icon {
  display: flex; /* Usar flex para alinear el icono */
  align-items: center; /* Centrar verticalmente */
  margin-left: auto; /* Empujar el icono a la derecha */
}

.linkedin-img {
  width: 24px; /* Ancho del icono */
  height: 24px; /* Alto del icono */
}

.profile-description {
  margin-top: 20px; /* Margen superior para separación */
  font-size: 0.8rem; /* Tamaño de fuente más pequeño */
  color: #555; /* Color gris para la descripción */
  margin-left: -50px;
}


#especialitats {
  padding: 5rem;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

.especialitats-box,
.ortopedia-box,
.mutues-box,
.contacte-box {
   padding: 5px;
   padding-left: 25px;
   padding-right: 25px;
   width: 10.063rem; /* Usa un porcentaje para el ancho */
   max-width: 300px; /* Limita el ancho máximo */
   height: 1.875; /* Altura fija */
   background-color: rgba(177, 28, 203, 0.14); /* Color de fondo con opacidad */
   color: #B11CAB; /* Color del texto */
   display: flex; /* Para centrar el contenido */
   align-items: center; /* Centrar verticalmente */
   justify-content: center; /* Centrar horizontalmente */
   margin: 20px auto; /* Margen para separarlos y centrarlos en la página */
   border-radius: 20px; /* Bordes redondeados opcional */
   text-align: center; /* Centrar el texto */
}
.ortopedia-box h2,
.mutues-box h2,
.contacte-box h2, 
.especialitats-box h2 {
  color: #B11CAB;
  margin: 0;
  font-weight: 100;
  font-size: 0.75rem;
}

/* Contenedor de las 3 cards */
.especialitats-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.especialitats-container h3{
  margin-bottom: 1rem;
}

/* Estilo de las cards individuales */
.card {
  background-color: white; /* Fondo blanco */
  padding: 1rem;
  width: 30%; /* Asegura que ocupen el espacio horizontalmente */
  border-radius: 10px;
  border: 2px solid #B11CAB; /* Borde violeta */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease; /* Animación */
  text-align: center;
  color: #333; /* Color del texto por defecto */
  margin-top: 30px;
  position: relative; /* Para posicionar el círculo correctamente */
  padding-top: 30px; /* Espacio para el círculo */
}

/* Efecto hover */
.card:hover {
  transform: translateY(-5px);
}
.card.active:hover {
  transform: none; /* No mover la card */
  cursor: default; /* Cambiar el cursor para que no parezca interactivo */
}
.circle {
  width: 10vw; /* Tamaño responsivo basado en el ancho de la ventana */
  height: 10vw; /* Mantener proporción cuadrada */
  max-width: 65px; /* Tamaño máximo de 70 píxeles */
  max-height: 65px; /* Tamaño máximo de 70 píxeles */
  border-radius: 50%; /* Hacerlo circular */
  background-color: orange; /* Color por defecto (no seleccionado) */
  margin: 0 auto; /* Centrar el círculo horizontalmente */
  margin-bottom: 12px;
  display: block; /* Para que ocupe su propio espacio */
  position: relative; /* Posicionamiento relativo para el círculo */
}

.card.active .circle {
  background-color: white; /* Color cuando está seleccionado */
}
/* Descripción de las especialitats (escondidas por defecto) */
.description-card {
  width: 100%;
  padding: 1.5rem;
  background-color: white; /* Fondo blanco como las cards */
  border-radius: 10px;
  border: 2px solid #B11CAB; /* Borde violeta como las cards */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  color: #333; /* Color del texto */
  text-align: left;
}

.description {
  display: none;
}

/* Mostrar la descripción activa */
.description.active {
  display: block;
}

.card.active {
  background-color: #B11CAB; /* Fondo violeta cuando se selecciona */
  color: white; /* Texto blanco cuando se selecciona */
  margin-bottom: -26px;
  border-bottom-left-radius: 0; /* Quitar el borde redondeado inferior izquierdo */
  border-bottom-right-radius: 0; /* Quitar el borde redondeado inferior derecho */
  border-bottom: none;
}

/* Clase para bordes rectos */
.borders-top-left-recto {
  border-top-left-radius: 0; /* Para la card 1 */
}

.borders-top-right-recto {
  border-top-right-radius: 0; /* Para la card 3 */
}

/* Estilos para el footer */
footer {
  background-color: #333;
  /* Color de fondo del footer */
  color: white;
  /* Color del texto en el footer */
  text-align: center;
  /* Alineación centrada */
  padding: 10px;
  /* Espaciado interno */
  position: relative;
  /* Posición relativa */
  bottom: 0;
  /* Posición al fondo */
  width: 100%;
  /* Ancho completo */
}

/* Media queries para hacer la página responsive */
@media (max-width: 768px) {
  header {
    padding: 15px;
    /* Ajustar padding en pantallas pequeñas */
    margin: 30px;
    /* Ajustar margen en pantallas pequeñas */
  }

  nav ul li {
    margin: 0 10px;
    /* Ajustar margen en pantallas pequeñas */
  }

  #hero h2 {
    font-size: 2rem;
    /* Ajustar tamaño de fuente en pantallas pequeñas */
  }

  #hero {
    margin: 0px;
    /* Ajustar margen en pantallas pequeñas */
  }

  .profile-card {
    align-items: center;
    margin-left: 10px;
    max-width: 100%;
    margin-right: 15px;
  }

  .profile-image {
    width: 80px;
    height: 80px;
  }
  .profile-description {
    margin-top: 20px; /* Margen superior para separación */
    font-size: 0.8rem; /* Tamaño de fuente más pequeño */
    color: #555; /* Color gris para la descripción */
    margin-left: 0px;
  }

  /* Diseño responsivo para pantallas pequeñas */
@media (max-width: 768px) {
  .especialitats-container {
      flex-direction: column;
      align-items: center;
  }

  .card {
      width: 80%;
      margin-bottom: 1rem;
  }

  .description-card {
      width: 100%;
  }
}

}

@media (max-width: 480px) {
  header {
    padding: 10px;
    /* Ajustar padding en pantallas muy pequeñas */
    margin: 5px;
    /* Ajustar margen en pantallas muy pequeñas */
  }

  nav ul {
    flex-direction: column;
    /* Cambiar a columna en pantallas pequeñas */
  }

  nav ul li {
    margin: 5px 0;
    /* Ajustar margen entre elementos */
  }

  #hero h2 {
    font-size: 1.5rem;
    /* Ajustar aún más en pantallas muy pequeñas */
  }

  #hero {
    margin: 5px;
    /* Ajustar margen en pantallas muy pequeñas */
  }

  #hero p {
    font-size: 0.9rem;
    /* Ajustar aún más en pantallas muy pequeñas */
  }

  .profile-card {
    gap: 15px;
  }

  .profile-image {
    width: 90px;
    height: 90px;
  }
}