:root {
  --primary-color: #B11CAB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

body {
  line-height: 1.6;
  color: #333;
  background-color: rgb(255, 255, 255);
}

.inicio-container {
  background-image: url('cadira.webp');
  width: 100%;
  min-height: calc(100vh);
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  padding: 1.25rem;
}

html {
  scroll-behavior: smooth;
}

header {
  background-color: white;
  padding: 0.3rem;
  border-radius: 0.625rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.527);
  position: fixed;
  top: 1.25rem;
  left: 5rem;
  right: 5rem;
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
  z-index: 1;
  font-weight: 600;
  transition: opacity 0.5s ease-in-out;
}

.logo {
  max-width: 6.25rem;
  height: auto;
  margin-right: 1.25rem;
  margin-left: 1.25rem;
  margin-top: 0.938rem;
  margin-bottom: 0.938rem;
}

nav {
  flex-grow: 1;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: inline-flex;
}

nav ul li {
  margin: clamp(0.3rem, 1.25rem, 1.5rem);
}

nav ul li a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
}

nav ul li a:hover {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

.mobile-header {
  display: none;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding-left: 3.125rem;
  padding-right: 3rem;
}

.mobile-header .logo {
  max-width: 10rem;
  height: auto;
}

.hamburger {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: -1rem;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  transition: transform 0.3s ease, background-color 0.3s ease;
  border-radius: 10rem;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 45%;
  height: 100vh;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease;
  z-index: 101;
}

.side-menu ul {
  list-style: none;
  padding: 0;
}

.side-menu li {
  margin-bottom: 1rem;
}

.side-menu a {
  color: #333;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
}

.side-menu a:hover {
  color: var(--primary-color);
  border-bottom: none;
}

.close-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: #333;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 102;
}

.side-menu.open .close-btn {
  display: block;
}

main {
  padding: 1.25rem;
  z-index: 1;
}

.delivery-container {
  position: fixed;
  bottom: 5rem;
  right: 3.125rem;
  background-color: #ff3cac;
  cursor: pointer;
  transition: all 0.2s;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 1000;
}

.delivery-container .borde-back {
  width: 60px;
  height: 60px;
  background-color: rgba(248, 250, 252, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: none;
  transform: scale(0.9);
  object-fit: contain;
}

.delivery-container .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: #ff3cac;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.tooltip {
  position: absolute;
  top: -2;
  right: calc(100% + 10px);
  /* Ajuste para que el tooltip salga por la izquierda */
  z-index: -10;
  transform-origin: right center;
  margin-right: 5px;
  height: 50px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: all 0.6s;
  border-radius: 50px 0 0 50px;
  background-color: #F4DFF3;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 16px;
  color: var(--primary-color);
  font-size: 0.8rem;
  font-family: sans-serif;
  font-weight: 800px;
  padding-right: 30px;
  padding-left: 20px;
  margin-right: -25px;
  font-weight: 600;
}

.delivery-container:hover .tooltip {
  transform: unset;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  z-index: -10;
}

.delivery-container:hover {
  transform: translateX(-0px);
  transition: 0.5s linear;
}

.delivery-container .icon img {
  border: 8px solid #F4DFF3;
  border-radius: 50%;
  max-width: 70px;
}

#hero {
  background-size: cover;
  background-position: center;
  padding: 0.625rem;
  text-align: left;
  margin-left: 3.125rem;
  text-align: left;
  margin-top: 8rem;
}

#hero h2 {
  font-size: 4rem;
  line-height: 1.2;
  color: black;
  max-width: 50rem;
}

#hero p {
  font-size: 1.125rem;
  color: #5C5C5C;
  margin-top: 0.625rem;
  margin-bottom: 2.5rem;
  max-width: 40rem;
}

#hero .underline {
  position: relative;
  display: inline-block;
  width: 65%;
  margin-left: auto;
  margin-right: 0;
  text-align: right;
  bottom: 20px;
  left: 100px;
}

.contact-container {
  display: flex;
  align-items: left;
  margin-top: 1.875rem;
}

.contact-content {
  display: flex;
  align-items: center;
}

.CTA {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 0.625rem;
  padding: 1.25rem 2.5rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.CTA:hover {
  background-color: #9E0A9B;
}

.phone-box {
  background-color: #F2712345;
  width: 3.8rem;
  height: 3.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.625rem;
  margin-left: 1.75rem;
  margin-right: 1.25rem;
}

.phone-icon {
  width: 1.875rem;
  height: auto;
}

.phone-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.phone-label {
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: bold;
}

.phone-number {
  color: black;
  font-size: 1rem;
}

.profile-card {
  background-color: #ffffff;
  border-radius: 0.625rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.233);
  padding: 1.25rem;
  display: flex;
  align-items: flex-start;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  max-width: 27.5rem;
  margin-left: 3.75rem;
  flex-direction: row;
  justify-content: center;
}

.profile-image {
  width: 2.563rem;
  height: 2.563rem;
  border-radius: 50%;
  margin-right: 0.938rem;
}

.profile-info {
  flex-grow: 1;
}

.profile-name {
  margin: 0;
  font-size: 1rem;
}

.profile-job .violet {
  margin: 0;
  color: var(--primary-color);
  font-size: 0.8rem;
}

.profile-job .orange {
  margin: 0;
  color: #F27123;
  font-size: 0.6rem;
}

.profile-description {
  margin-top: 1.25rem;
  font-size: 0.875rem;
  color: #555;
  margin-left: -3.125rem;
}

#especialitats {
  padding: 5rem;
  text-align: center;
  margin-left: 6.25rem;
  margin-right: 6.25rem;
  max-width: 70%;
  margin: 0 auto;
  margin-bottom: -3.125rem;
}

.especialitats-box,
.ortopedia-box,
.mutues-box {
  padding: 5px;
  padding-left: 1.563rem;
  padding-right: 1.563rem;
  width: 10.063rem;
  max-width: 18.75rem;
  height: 1.875rem;
  background-color: rgba(177, 28, 203, 0.14);
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.25rem auto;
  border-radius: 1.25rem;
  text-align: center;
  margin-bottom: 3.125rem;
}

.ortopedia-box h2,
.mutues-box h2,
.especialitats-box h2 {
  color: var(--primary-color);
  margin: 0;
  font-weight: 100;
  font-size: 0.75rem;
}

.cards-mobile {
  display: none;
}

.wrapper {
  width: 100%;
  height: 18.75rem;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.wrapper h3 {
  margin-bottom: 1rem;
}

.wrapper i {
  margin-left: -5%;
  margin-right: -5%;
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  color: #BABABA;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;

}

.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
  left: -22px;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 18px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  scroll-snap-align: start;
  height: 280px;
  cursor: pointer;
  padding: 0 1rem 1rem 1rem;
  flex-direction: column;
  background-color: white;
  border-radius: 0.625rem;
  border: 2px solid var(--primary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  text-align: center;
  color: #333;
  font-size: 0.8rem;
  display: flex;
  justify-content: start;
  align-items: center;

  position: relative;
}

.card.active {
  height: 300px;
  background-color: var(--primary-color);
  color: white;
  margin-bottom: -1.563rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

.card .ver-mas {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 0.8rem;

  text-decoration: underline;
}

.card .ver-menos-text {
  display: none;
}

.card.active .ver-menos-text {
  display: block;
}

.card.active .ver-mas-text {
  display: none;
}

.circle {
  width: 3.2rem;
  height: 3.2rem;
  max-width: 3.75rem;
  max-height: 3.75rem;
  min-width: 3rem;
  min-height: 3rem;
  border-radius: 50%;
  background-color: #F27123;
  margin: 0 auto 10px auto;
  margin-bottom: 0.75rem;
  margin-top: 1.5rem;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.circle-icon {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.card.active .circle {
  background-color: white;
}

.card.active .circle-icon {
  filter: invert(11%) sepia(33%) saturate(10022%) hue-rotate(283deg) brightness(80%) contrast(98%);
}

.description-card {
  width: 100%;
  padding: 1.5rem;
  background-color: white;
  border-radius: 0.625rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 2px solid var(--primary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #333;
  text-align: left;
  font-size: 0.9rem;


  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  overflow: hidden;
}

.description {
  display: none;
}

.description.active {
  display: flex;
  flex-direction: row;
}

.description-text {
  margin: 0.8rem;
  margin-top: 1rem;
  flex: 1;
  align-items: flex-start;
  position: relative;
}

.description-text h4 {
  font-size: 2rem;
  max-width: 25rem;
}

.description-text h5 {
  font-size: 1.2rem;
  max-width: 25rem;
  color: #F27123;
}

.description-text p.tic {
  margin-bottom: 0.5rem;
}

.description-text p {
  margin-bottom: 1.875rem;
  max-width: 28rem;
}

.description-image {
  border-radius: 1.25rem;
  margin: 1.8rem;
  margin-left: 3rem;
  max-width: 25rem;
  height: auto;
  object-fit: cover;
  flex: 1;

  max-width: 40%;
  height: auto;
  filter: brightness(0.85);
}

.description-card img {
  max-width: 40%;
}

.description-text .podiatry-category {
  color: var(--primary-color);
  font-size: 0.9rem;
}


.description-text .podiatry-content {
  max-width: 100%;
}

.podologia-img {
  position: absolute;
  bottom: 10px;
  right: 80px;
  width: 100%;
  height: auto;
}

#ortopedia {
  padding: 2.5rem 1.25rem;
  margin: 0 auto;
  max-width: 70%;
  position: relative;
  margin-bottom: 3rem;
}

.ortopedia-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 95%;
  margin: 0 auto;
  gap: 1.25rem;
  transform: translate(2%);
  margin-top: 6.25rem;
}

.text-container {
  max-width: 50%;
}

.text-container h2 {
  font-size: 2rem;
  margin-bottom: 1.25rem;
  color: #333;
}

.text-container .description {
  font-size: 1rem;
  line-height: 1.6;
  color: #666;
}

.image-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-top: 0.625rem;
}

.ortopedia-image {
  max-width: 80%;
  height: auto;
  border-radius: 0.5rem;
  z-index: 1;
  margin-left: 1.875rem;
  margin-bottom: -1.25rem;
  box-shadow: 1.5rem -1.5rem #b11cacba;
  filter: brightness(0.85);
}

#mutues {
  padding: 2rem;
  border-radius: 0.625rem;
  text-align: center;
  margin-left: 9rem;
  margin-right: 9rem;
}

.mutues-content .description {
  font-size: 1.2rem;
  color: #333;
  line-height: 1.6;
}

.mutues-logo {
  max-width: 200px;
  aspect-ratio: 4/3;
  object-fit: contain;
}

.mutue-logo {
  padding: 2rem;
}

footer {
  background-color: var(--primary-color);
  color: white;
  padding-left: 2rem;
  padding-top: 3rem;
  padding-right: 2rem;
}

 .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: var(--primary-color);
  font-size: 0.9rem;
  gap: 0.1rem; 
}

.footer-section {
  flex: 1;
  margin: 0 1rem;
  text-align: left;
}

.footer-section h3 {
  margin-bottom: 1rem;
  letter-spacing: 0.08em;
}

.footer-section p {
  line-height: 1.6;
}

#information p {
  line-height: 2.5;
}

#information {
  margin: 0; 
  margin-top: 0; 
  max-width: 30%;
}

.footer-section a {
  color: white;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

#footer-service {
  margin: 0.5rem 0;
  max-width: 25%;
}

#footer-map {
  margin: 0; 
  max-width: 20%;
}

.map-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.map {
  border-radius: 0.625rem;
  margin-bottom: 0.8rem;
}

.footer-copy {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 1.5rem;
  text-align: center;
  padding: 1rem 0;
  color: white;
  background-color: var(--primary-color);
  border-top: 0.5px solid white;
}

/* Responsividad */
@media (max-width: 1600px) {
  .card {
    font-size: 0.9rem;
  }

  .description-card {
    font-size: 0.9rem;
  }

  #especialitats {
    max-width: 80%;
  }

}

@media (min-width: 1280px) and (max-width: 1440px) {
  /* large desktop */

  header {
    font-size: 0.9rem;
  }

  nav ul li {
    margin: 0.8rem;
  }

  #hero {
    width: 90%;
    margin-top: 5rem;
  }

  #hero h2 {
    font-size: 3.2rem;
    max-width: 40rem;
  }

  #hero p {
    font-size: 1rem;
    max-width: 35rem;
    margin-bottom: 2rem;
  }

  .CTA {
    font-size: 0.9rem;
  }

  .phone-icon {
    width: 1.563rem;
  }

  .phone-box {
    width: 3.75rem;
    height: 3.75rem;
  }

  .phone-label {
    font-size: 0.9rem;
  }

  .phone-number {
    font-size: 0.9rem;
  }

  .profile-card {
    max-width: 25rem;
  }

  #especialitats {
    max-width: 85%;
    padding-top: 2rem;
  }

  .card {
    font-size: 0.8rem;
  }

  .description-card {
    font-size: 0.8rem;
  }

  .description-text h4 {
    font-size: 1.5rem;
  }

  .description-card img {
    max-width: 40%;
  }

  .description-image {
    margin-left: 1.25rem;
  }

  .text-container h2 {
    font-size: 1.5rem;
  }

  .text-container .description {
    font-size: 0.8rem;
  }
}

/* small desktop */
@media (min-width: 970px) and (max-width: 1280px) {
  #hero h2 {
    font-size: 3rem;
    max-width: 40rem;
  }

  #hero p {
    font-size: 0.9rem;
    max-width: 35rem;
    margin-bottom: 2rem;
  }

  #especialitats {
    max-width: 100%;
  }

  .card {
    font-size: 0.75rem;
    width: 100%;
    padding: 1rem;
  }

  .description-card {
    font-size: 0.8rem;
  }

  .description-text h4 {
    font-size: 1.2rem;
  }

  .description-text .podiatry-category {
    color: var(--primary-color);
    font-size: 0.8rem;
  }

  .description-text h5 {
    font-size: 1.1rem;
    max-width: 25rem;
    color: #F27123;
  }

  .podologia-img {
    display: none;
  }
  #footer-map {
    max-width: 30%;
  }
}

@media (min-width: 970px) and (max-width: 1148px) {

  #footer-map {
    margin-left: 0rem;
    width: 80%;
    max-width: 100%;
  }

  .footer-container {
    flex-direction: column;
    align-items:  flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 2rem;
    padding: 1rem;
  }

  #footer-service {
    max-width: 100%;
    margin: 0rem;
    margin-bottom: 2rem;
  }

  #information {
    width: 100%;
    max-width: 100%;
  }
  .map-container {
    display: flex;
    justify-content: flex-start;
    margin: 0;
  }
  #footer-map iframe {
    width: 100%;
    height: auto;
    max-width: 100%;
    border: none;
  }
}

/* tablet */
@media (min-width: 611px) and (max-width: 969px) {
  .logo {
    margin: 0.625rem;
  }

  header {
    display: none;
  }

  .mobile-header {
    display: flex;
  }

  nav {
    display: none;
  }

  .side-menu.open {
    right: 0;
  }

  #hero {
    margin-top: 3rem;
  }

  #hero .underline {
    width: 75%;
    left: 5px;
  }

  #hero h2 {
    font-size: 3rem;
    max-width: 80%;
  }

  #hero p,
  .phone-number {
    font-size: 1rem;
  }

  .profile-card {
    width: 100%;
  }

  #especialitats {
    max-width: 80%;
  }

  .wrapper .carousel {
    grid-auto-columns: calc((100%) - 0px);
    gap: 18px;
  }

  .card {
    font-size: 0.75rem;
    width: 100%;
    padding: 1rem;
  }

  .description.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .podologia-img {
    display: none;
  }

  .description-image {
    order: 1;
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-right: 3rem;
  }

  .description-card img {
    max-width: 80%;
  }

  .description-text {
    order: 2;
    text-align: left;
  }

  .description.active .CTA {
    padding: 1rem 2rem;
    font-size: 0.9rem;
  }

  .ortopedia-content {
    flex-direction: column;
    text-align: left;
  }

  .text-container,
  .ortopedia-image {
    max-width: 100%;
  }

  .ortopedia-image {
    margin-left: -1.5rem;
    margin-top: 1.5rem;
  }

  #mutues {
    padding: 1rem;
    border-radius: 0.625rem;
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
  }

  .mutues-content p {
    margin-bottom: 2rem;
  }

  .mutues-content {
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
  }

  .mutues-logo {
    max-width: 100%;
    aspect-ratio: 4/3;
    object-fit: contain;
  }

  .mutue-logo {
    padding: 1.5rem;
    max-width: 150px;
  }

  #footer-map {
    margin-left: 0rem;
    width: 80%;
    max-width: 100%;
  }

  .footer-container {
    flex-direction: column;
    align-items:  flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 2rem;
    padding: 1rem; 
  }

  .footer-section {
    max-width: 100%;
    text-align: left;
    margin: 1rem 0;
    margin-bottom: 2rem;
  }

  #footer-service {
    max-width: 100%;
    margin: 0rem;
    margin-bottom: 2rem;
  }

  #footer-map iframe {
    width: 100%;
    height: auto;
    max-width: 100%;
    border: none;
  }

  #information {
    width: 100%;
    max-width: 100%;
    margin-top: 1rem;
  }
}

@media (max-width: 610px) {
  .inicio-container {
    background-image: none;
  }

  .logo {
    margin: 0.625rem;
  }

  header {
    display: none;
  }

  .mobile-header {
    display: flex;
    padding-right: 1rem;
    margin-left: -3.5rem;
  }

  nav {
    display: none;
  }

  .side-menu.open {
    right: 0;
  }

  main {
    padding: 0rem;
    z-index: 1;
  }

  #hero {
    margin-top: 2rem;
    margin-left: 0rem;
    margin-right: 0rem;
    width: 100%;
  }

  #hero .underline {
    width: 75%;
    left: 5px;
  }

  #hero h2 {
    font-size: 2.5rem;
    max-width: 90%;
  }

  #hero p,
  .phone-number {
    font-size: 1rem;
  }

  .contact-container {
    height: 15rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 1.875rem;
    width: 100%;
    position: relative;
    padding: 2rem 3.125rem;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .contact-container::before {
    content: "";
    position: absolute;
    top: -5%;
    left: 45%;
    transform: translateX(-50%);
    width: 120%;
    max-width: 40.625rem;
    height: 120%;
    background-image: url('cadira2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
  }

  .CTA {
    padding: 0.8rem 1rem;
    font-size: 0.8rem;
    margin-bottom: 1.125rem;
    max-width: 200px;
    margin-left: -3.4rem;
    z-index: 20;
  }

  .contact-content {
    margin-left: -5rem;
  }

  .phone-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
  }

  .phone-icon {
    max-width: 100%;
  }

  .phone-number {
    color: black;
    font-size: 0.8rem;
  }

  .profile-card {
    width: 100%;
    max-width: 100%;
    margin-left: 0.3rem;
    margin-top: 3rem;
    margin-bottom: 0rem;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
  }

  #especialitats {
    max-width: 100%;
  }

  .cards-mobile {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    gap: 1.125rem;
    width: 100%;
  }

  .card {
    font-size: 0.8rem;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: auto;
  }

  .card.active {
    padding-bottom: 0;
    margin: 1rem;
    border-radius: 0.625rem;
    height: auto;

    transition: all 0.3s ease-in-out;
    width: 100%;
  }

  .wrapper {
    display: none;
  }

  .description-container {
    display: none;
    padding: 1rem;
    background-color: #f8f9fa;
    border: 2px solid var(--primary-color);
    border-radius: 0.625rem;
    margin-top: 1rem;
    max-width: 125%;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    z-index: 100;
    width: 115%;
    overflow: hidden;
  }

  .description-container.active {
    display: block;
  }

  .description-text {
    padding: 1rem;
    margin: 0;
    align-items: center;
    justify-content: center;
    text-align: left;
    color: #333;
    font-size: 0.8rem;
  }

  .description-image {
    max-width: 90%;
    height: auto;
    margin-top: 0.5rem;
    border-radius: 8px;
    object-fit: cover;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }

  .description-container .CTA {
    margin-left: 0rem;

    padding: 0.8rem;
    font-size: 0.8rem;
    margin-bottom: 1.125rem;
    max-width: 100%;
  }

  .podologia-img {
    display: none;
  }

  .description.active .CTA {
    padding: 1rem 2rem;
    font-size: 0.9rem;
  }

  .ortopedia-content {
    flex-direction: column;
    text-align: left;
    max-width: 100%;
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .text-container,
  .ortopedia-image {
    max-width: 100%;
  }

  .ortopedia-image {
    margin-left: -1.5rem;
    margin-top: 1.5rem;
  }

  #mutues {
    padding: 1rem;
    border-radius: 0.625rem;
    text-align: center;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: 3rem;
  }

  .mutues-content p {
    margin-bottom: 2rem;
  }

  .mutues-content {
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
  }

  .mutues-logo {
    max-width: 100%;
    aspect-ratio: 4/3;
    object-fit: contain;
  }

  .mutue-logo {
    padding: 1.5rem;
    max-width: 130px;
  }

  .footer-container {
    flex-direction: column;
    align-items:  flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 2rem; 
    padding: 1rem; 
  }

  .footer-section {
    max-width: 100%;
    text-align: left;
    margin: 1rem 0;
    margin-bottom: 2rem;
  }

  #footer-service {
    max-width: 100%;
    margin: 0rem;
    margin-bottom: 2rem;
  }

  #footer-links {
    margin-left: 0rem;
    width: 100%;
  }

  #footer-map {
    max-width: 100%;
    margin-left: 0rem;
  }

  #footer-map iframe {
    width: 100%;
    height: auto;
    max-width: 100%;
    border: none;
  }

  #information {
    width: 100%;
    max-width: 100%;
    margin-top: 1rem;
  }
}

@media (max-width: 449px) {

  .profile-card .profile-description {
    font-size: 0.875rem;
  }

  .profile-job span {
    display: block;
  }

  .cards-mobile {
    max-width: 100%;
  }

  .card {
    max-width: none;
    width: 150%;
    box-sizing: border-box;
    position: relative;
    height: auto;
    font-size: 0.8rem;
  }

  .card.active {
    width: 150%;
  }

  .description-container {
    width: 120%;
  }

  .footer-container {
    flex-direction: column;
    align-items:  flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 2rem; 
    padding: 1rem; 
  }

  #information {
    width: 100%;
    max-width: 100%;
    margin-top: 0rem;
  }
}